<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>Галерея</title>
    <link rel="stylesheet" href="css/styles.css"> 
</head>
	<body>
		<div class="main">
			<a href="index.php">Главная</a>
			<header>
				<h1>Gallery</h1>
			</header>
		{% for image in images %}
			<div class ="img-cover">
				<a href="{{image.link}}"><img src="{{image.source}}"></a>

				<p>Просмотрено -{{image.seen}} раз</p>
			</div>
		{% endfor %}	
		</div>
	</body>
</html>